
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: #222;
    overflow: hidden;
}

.hexagon-gallery {
    position: relative;
    width: 1700px;
    height: 950px;
    display: grid;
    place-items: center;
    background: rgba(255, 255, 255, .1);
}

.hexagon-gallery .hexagon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(2px 2px 5px) saturate(2);
}

.hexagon-gallery .hexagon .hex {
    width: 380px;
    height: 380px;
    display: flex;
    margin: 15px;
    background: #424242;
    /*clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: circle(50% at 50% 50%);*/
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.hexagon-gallery .hexagon:nth-child(1)
{
    top: 0;
}

.hexagon-gallery .hexagon:nth-child(3)
{
    bottom: 0;
}

.hexagon-gallery .hexagon .hex img {
    filter:brightness(.6);
    width: 100%;
    object-fit: cover;
    transition: .3s;
    transform: rotate(35deg);
}

.hexagon-gallery .hexagon .hex:hover img {
    transform: scale(1.1);
    filter: brightness(1);
}

.media {
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.layer {
    z-index: 1;
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 10px;
    height: 10%;
    color: white;
    transition: all 0.9s ease;
    transform:translateY(100px);

    p {
        transition: all 0.9s ease;
        transform: scale(0);
        
    }
}

p {
    text-align:center;
    font-size: 10px;
    letter-spacing: 1px;
}

.media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    

    p {
        
        transform: scale(1.5);
        transition: all 0.9s ease;
        
    }
}


